@import 'tailwindcss';

body {
  font-family: 'Cairo', sans-serif;
}

input:not([type='checkbox']):not([type='radio']) {
  overflow-y: hidden;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-font {
  font-family: 'Cairo', sans-serif;
}

.sub-font {
  font-family: "Cairo", sans-serif;
}

@theme {
  --color-body: #f7fafc;
  --color-borders: #e1e1e4;
  --color-main: #236167;
  --color-primary: #236167;
  --color-sec: #d2d6da;
  --color-dark: #0b0c0c;
}

.auth-bg {
  background-image: url('./app/assets/authbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
